
html {

font-family: Arial;


}

.en_tete{
background-image: url('bibliotheque.jpg');
background-size: 150% 100%;
background-size: cover;
}

#tete{

    margin: auto;
    padding: 0%;


}
body {
    margin: auto;
    padding: 0%;


}