
html {font-family: Arial;}
.en_tete {
    background: url('bibliotheque.jpg');
}
.en_tete h1{
    
    font-size: 5em ;
    margin: auto;
    padding: 0 0 0.5em 0.5em;


}
.en_tete a{
    text-decoration: none;
    color: white;
}

.menu > ul > li  {
    display: inline-block;
    vertical-align: top;
}

.menu > ul > li > ul {
    display: none;
}
.menu{
    height: 3em;
    background-color: black;
 }
 .menu li{
width: 8em;
line-height: 2em;
text-align: center;
list-style: none;
background-color: black;

 }
.menu ul {
    padding: 0;
    margin: 0;

}
.menu a {
    text-decoration: none;
    color: azure;

}


.menu > ul > li:hover > ul { display: block; }
body {
    margin: auto;
    padding: 0%;

}

